<%= form_for :search_query, url: flights_path, method: :get do |form| %>
    <div class="search-bar">
        <div>
            <%= form.label :departure_airport, "From:" %>
            <%= form.select :departure_airport, options_for_select(@airports), include_blank: true %>
        </div>
        <div>
            <%= form.label :arrival_airport, "To:" %>
            <%= form.select :arrival_airport, options_for_select(@airports), include_blank: true %>
        </div>
        <div>
            <%= form.label :date, "Travel date:" %>
            <%= form.date_field :date, min: Date.today, default: Date.today, value: Date.today %>
        </div>
        <div>
            <%= form.label :number_of_tickets, "Passangers:" %>
            <%= form.number_field :number_of_tickets, in: 1..4, step: 1, value: 1 %>
        </div>
        <%= form.submit "Search" %>
    </div>
<% end %>

<% if @query.nil? %>
    <h3 class="center-msg">Search for flights</h3>
<% else %>
    <div class="select-info-container">
        <p><%= @flights.first.departure_airport.city_name %> (<%= @flights.first.departure_airport.airport_code %>) -> <%= @flights.first.arrival_airport.city_name %> (<%= @flights.first.arrival_airport.airport_code %>)</p>
        <p><%= @flights.first.datetime.to_date.to_fs(:long_ordinal) %></p>
    </div>
    <div class="flights-container">
        <% @flights.each do |flight| %>
            <div class="flight-container">
                <p>Departure: <%= flight.departure_airport.city_name %></p>
                <p>Arrival: <%= flight.arrival_airport.city_name %></p>
                <p>Time: <%= flight.datetime.to_fs(:time) %></p>
                <p>Flight duration:<%= flight.flight_duration.to_fs(:time) %></p>
            </div>
        <% end %>
    </div>
<% end %>
