<%= link_to "Home page", root_path %>
<div class="booking-info">
    <p><%= @booking.flight.departure_airport.city_name %> -> <%= @booking.flight.arrival_airport.city_name %></p>
    <% @booking.passengers.each do |passenger| %>
        <p><%= passenger.first_name %></p>
        <p><%= passenger.last_name %></p>
        <p><%= passenger.email %></p>
    <% end %>
</div>